[user]
	name = ADSmith-0
	email = change me
[push]
	autoSetupRemote = true
  default = current
[pull]
  rebase = false
[core]
	editor = nvim
	pager = less -x2
[init]
	defaultBranch = main
[merge]
  tool = nvimdiff
[mergetool "nvimdiff"]
  cmd = nvim -d -c '4wincmd w | wincmd J' \"$LOCAL\" \"$BASE\" \"$REMOTE\" \"$MERGED\"
